<div class="guide">
  <div class="main">
    <div class="actions">
      <form action="/search" method="get">
        <a href="/">Home</a> | <input type="search" name="q" size="10" /> <input type="submit" value="search" />
      </form>
    </div>
    <h1>Sign In</h1>

    <div class="write">
      <div class="content gollum">
        <a href="{{authorize_url}}">Sign in with {{service_name}}</a>
      </div>
    </div>

  </div>
</div>
